@use '../../mixin/grid.scss' as grid;

$gap: 16px;

.slider-for-product {
  padding-top: 80px;

  .slider-content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  .slider-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .slider-title {
      margin: 0;
    }

    .slider-navigation-buttons {
      display: flex;
      gap: $gap;
    }
  }

  .my-swiper {
    overflow: hidden;

    .swiper-wrapper {
      display: flex;
    }

    .swiper-slide {
      flex-shrink: 0;

      width: 272px;
    }
  }
}
