@use '../../mixin/grid.scss' as grid;

$gap: 16px;

.slider-for-product {
  padding: 80px 0;

  .slider-content-wrapper {
    max-width: 1136px;
    margin: 0 auto;
    padding: 0;

    @media (max-width: 1199px) {
      padding: 0 24px;
    }

    @media (max-width: 639px) {
      padding: 0 16px;
    }
  }

  .slider-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .slider-title {
      margin: 0;
    }

    .slider-navigation-buttons {
      display: flex;
      gap: $gap;
    }
  }

  .my-swiper {
    overflow: hidden;

    .swiper-wrapper {
      display: flex;
    }

    .swiper-slide {
      flex-shrink: 0;

      width: 272px;
    }
  }
}
