@use '../../styles/variables/colors/colors' as colors;

.favorites {
  max-width: 1200px;
  width: 100%;
  display: grid;
  gap: 32px;
  margin: 0 auto;
  padding-top: 56px;

  @media (min-width: 640px) {
    margin: 0 auto;
    padding-top: 56px;
    gap: 40px;
  }

  @media (min-width: 1200px) {
    margin: 0 auto;
    padding-top: 56px;
  }
}

.title {
  &__count {
    color: colors.$color-secondary;
  }
}
