@use '../../styles/variables/colors/colors' as colors;

.favorites {
  display: grid;
  gap: 32px;
  margin: 24px 16px 56px;

  @media (min-width: 640px) {
    margin: 24px 24px 64px;
    gap: 40px;
  }

  @media (min-width: 1200px) {
    margin: 24px 152px 80px;
  }
}

.title {
  &__count {
    color: colors.$color-secondary;
  }
}
