@use '../../styles/variables/colors/colors' as colors;

.cart-item-card {
  display: inline-flex;
  gap: 16px;
  box-sizing: border-box;
  flex-direction: column;
  padding: 16px;
  height: fit-content;
  width: 288px;
  border-radius: 16px;

  &--light {
    background-color: #ffffff;
    border: 1px solid colors.$color-elements;
    &:hover {
      border-color: colors.$color-elements;
      box-shadow: 0px 2px 16px 0px #0000001a;
    }
  }

  &--dark {
    background-color: #161827;
  }

  @media (min-width: 640px) {
    flex-direction: row;
    gap: 24px;
    width: 592px;
    align-items: center;
    padding: 24px;
  }

  @media (min-width: 1200px) {
    width: 752px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;

    @media (min-width: 640px) {
      gap: 31px;
    }
  }

  &__icon-delete {
    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s;
    }
    &--light {
      background-image: url(../../images/icons/close.svg);
      height: 16px;
      width: 16px;
    }

    &--dark {
      background-image: url(../../images/icons/Close-dard.png);
      height: 16px;
      width: 16px;
    }
  }

  &__image {
    height: 66px;
    width: 66px;
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s;
    }
  }

  &__title {
    width: 128px;

    @media (min-width: 640px) {
      width: 176px;
    }

    @media (min-width: 1200px) {
      width: 336px;
    }

    &:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }

  &__second-part {
    display: flex;
    gap: 109px;

    @media (min-width: 640px) {
      gap: 24px;
    }
  }

  &__count {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__number {
    width: 32px;
    text-align: center;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border: 1px solid colors.$color-icons;
    border-radius: 50%;

    &:hover {
      border-color: colors.$color-primary;
      color: colors.$color-primary;
    }

    &:disabled {
      border: 1px solid colors.$color-elements;
    }
  }

  &__price {
    text-align: right;

    @media (min-width: 640px) {
      width: 80px;
    }
  }
}

.subtract {
  background-color: colors.$color-primary;
  mask: url(../../images/icons/minus.svg);
  width: 16px;
  height: 16px;
}

.subtract-disabled {
  background-color: colors.$color-icons;
  mask: url(../../images/icons/minus.svg);
  width: 16px;
  height: 16px;
}

.add {
  background-color: colors.$color-primary;
  mask: url(../../images/icons/plus.svg);
  width: 16px;
  height: 16px;
}
