@use '../../styles/variables/colors/colors' as colors;

.cart-item-card {
  display: inline-flex;
  gap: 16px;
  box-sizing: border-box;
  flex-direction: column;
  padding: 16px;
  height: fit-content;
  width: 288px;
  border-radius: 16px;

  &--light {
    background-color: #ffffff;
    border: 1px solid colors.$color-elements;
    &:hover {
      border-color: colors.$color-elements;
      box-shadow: 0px 2px 16px 0px #0000001a;
    }
  }

  &--dark {
    background-color: #161827;
  }

  @media (min-width: 640px) {
    flex-direction: row;
    gap: 24px;
    width: 592px;
    align-items: center;
    padding: 24px;
  }

  @media (min-width: 1200px) {
    width: 752px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;

    @media (min-width: 640px) {
      gap: 31px;
    }
  }

  &__icon-delete {
    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s;
    }
    &--light {
      background-image: url(../../images/icons/close.svg);
      height: 16px;
      width: 16px;
    }

    &--dark {
      background-image: url(../../images/icons/Close-dard.png);
      height: 16px;
      width: 16px;
    }
  }

  &__image {
    height: 66px;
    width: 66px;
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s;
    }
  }

  &__title {
    width: 128px;

    @media (min-width: 640px) {
      width: 176px;
    }

    @media (min-width: 1200px) {
      width: 336px;
    }

    &:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }

  &__second-part {
    display: flex;
    gap: 109px;

    @media (min-width: 640px) {
      gap: 24px;
    }
  }

  &__count {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__number {
    width: 32px;
    text-align: center;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;

    &--light {
      border: 1px solid colors.$color-icons;

      &:hover {
        border-color: colors.$color-primary;
        color: colors.$color-primary;
      }

      &:disabled {
        border: 1px solid colors.$color-elements;
      }
    }

    &--dark {
      border: 1px solid colors.$color-added-button-dark-mode;
      background-color: colors.$color-added-button-dark-mode;

      &:hover {
        border-color: white;
      }

      &:disabled {
        border: 1px solid colors.$color-added-button-dark-mode;
        background-color: transparent;
      }
    }

    &--sub {
      height: 16px;
      width: 16px;

      &--light {
        background-image: url('../../images/icons/minus.svg');
      }

      &--dark {
        background-image: url('../../images/icons/Minus-dark.png');
      }
    }

    &--sub-disabled {
      background-image: url('../../images/icons/minus-gray.svg');
      height: 16px;
      width: 16px;
    }

    &--add {
      height: 16px;
      width: 16px;

      &--light {
        background-image: url('../../images/icons/plus.svg');
      }

      &--dark {
        background-image: url('../../images/icons/Plus-dark.png');
      }
    }
  }

  &__price {
    text-align: right;

    @media (min-width: 640px) {
      width: 80px;
    }
  }
}

//Стилі для дропдауна в меню пошуку

.cart-item-card--search {
  min-height: 56px;
  width: 400px; //ширина випадашки
  padding: 6px 8px;
  // box-shadow: none;
  border-radius: 6px;

  // Контент картки у випадашці
  .cart-item-card__content {
    gap: 8px;
  }

  // Зменшене зображення
  .cart-item-card__image {
    width: 66px;
    height: 66px;
    object-fit: contain;
    @media (max-width: 1199px) {
      width: 48px;
      height: 48px;
    }
    @media (max-width: 639px) {
      width: 36px;
      height: 36px;
    }
  }

  // Тайтл у випадашці
  .cart-item-card__title {
    font-size: 0.85rem;
    white-space: nowrap;
  }

  // Ціна у випадашці поки залишив її прихованою
  .cart-item-card__second-part {
    h3.cart-item-card__price--search {
      display: none;
    }
  }

  // Приховуємо кнопку видалення у випадашці
  .cart-item-card__icon-delete {
    display: none;
  }
}
