@use '../../styles/variables/colors/colors' as color;

.nav__actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  height: 64px;
  max-width: 100%;

  .nav__action-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    padding: 24px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    box-shadow: -1px 0 0 0 color.$color-elements;

    &.active {
      box-shadow:
        inset 0 -3px 0 0 color.$color-primary,
        -1px 0 0 0 color.$color-elements;
    }

    img.nav__action-icon {
      width: 16px;
      height: 16px;
      pointer-events: none;
      display: block;
    }
  }

  select.language-select {
    display: none;
  }
}

@media (max-width: 1199px) {
  .nav__actions {
    height: 48px;

    .nav__action-link {
      width: 48px;
      height: 48px;
      padding: 16px;
    }
  }
}
