.aside {
  display: flex;
  justify-content: center;
  top: 64px;
  width: 100vw;
  height: calc(100vh - 64px);
  position: fixed;
  z-index: 1000;
  background-color: #e2e6e9;
  &__nav-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    justify-content: space-between;
  }
}
