@import '../../../styles/variables/colors/colors';
@import '../../../styles/variables/fonts/fonts';

.pagination-btn {
  font-family: 'Mont', sans-serif;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid $color-elements;
  color: $color-primary;
  background-color: transparent;
  transition: all 0.5s ease;
  cursor: pointer;

  &:hover {
    border-color: $color-primary;
    color: $color-primary;
  }

  &--selected {
    background-color: $color-primary;
    color: $color-hover-bg;
    border: none;

    &:hover {
      color: $color-hover-bg;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
