@use '../../styles/variables/colors' as colors;

.productCard {
  &__container {
    grid-column: 1 / -1;

    @media (min-width: 640px) and (max-width: 782px) {
      grid-column: span 6;
    }

    @media (min-width: 782px) and (max-width: 1200px) {
      grid-column: span 4;
    }

    @media (min-width: 1200px) {
      grid-column: span 6;
    }

    gap: 8px;
    padding: 32px;
    text-decoration: none;
    transition:
      box-shadow 0.3s,
      border 0.3s;

    &--light {
      border: 1px solid colors.$color-elements;
      border-radius: 5px;

      &:hover {
        box-shadow: 0px 2px 16px 0px colors.$color-elements;
      }
    }

    &--dark {
      background-color: colors.$color-bg-card-dark-mode;
      border-radius: 5px;

      &:hover {
        box-shadow: 0px 2px 15px 0px colors.$color-product-card-hove-dark-mode;
      }
    }

    @media (min-width: 640px) {
      height: 506px;
    }
  }

  &__link-zone {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__container-photo {
    width: 100%;
    height: 196px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform 0.3s;
    }
  }

  &__container-title {
    color: colors.$color-primary;
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }

  &__container-price {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;

    h3 {
      font-size: 22px;
      font-weight: 700;
      margin: 0;
    }
  }

  &__price-regular {
    text-decoration: line-through;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    color: colors.$color-secondary;
  }

  &__container-specifications {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 0;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    color: colors.$color-secondary;
  }

  &__container-buttons {
    display: flex;
    gap: 8px;
    margin-top: auto;
  }
}
