@use '../../styles/variables/colors' as colors;

.product-image-slider {
  display: flex;
  gap: 16px;
  align-items: flex-start;

  &__small {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__smaller {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80px;
    height: 80px;

    border: 1px solid colors.$color-elements;
    border-radius: 8px;
    padding: 0;
    background: none;
    cursor: pointer;

    &.selected {
      border-color: colors.$color-primary;
    }

    img {
      width: 66px;
      height: 66px;
      object-fit: contain;
      border-radius: 6px;
    }
  }

  &__main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 464px;
    min-height: 464px;
    max-width: 464px;
    max-height: 464px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);

    img {
      max-width: 464px;
      max-height: 464px;
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 12px;
    }
  }

  &__empty {
    color: #888;
    font-size: 18px;
    padding: 40px;
  }
}

@media (max-width: 639px) {
  .product-image-slider {
    flex-direction: column;
    align-items: center;
    gap: 16px;

    &__main {
      order: 1;
    }
    &__small {
      flex-direction: row;
      gap: 8px;
      margin-top: 16px;
      margin-bottom: 40px;
      order: 2;
    }

    &__smaller {
      width: 60px;
      height: 60px;

      img {
        width: 52px;
        height: 52px;
        object-fit: contain;
        border-radius: 4px;
      }
    }
  }
}
