@use '../../styles/variables/colors' as colors;

.product-image-slider {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  padding-right: 64px;

  &__small {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__smaller {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80px;
    height: 80px;

    border: 1px solid colors.$color-elements;
    border-radius: 8px;
    padding: 0;

    &.selected {
      border-color: colors.$color-primary;
    }

    img {
      width: 66px;
      height: 66px;
      object-fit: contain;
      border-radius: 6px;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 464px;
    max-height: 464px;
    border-radius: 16px;

    img {
      max-width: 464px;
      max-height: 464px;
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 12px;
    }
  }

  &__empty {
    color: #888;
    font-size: 18px;
    padding: 40px;
  }
}

@media (min-width: 650px) and (max-width: 1199px) {
  .product-image-slider {
    &__small {
      gap: 8px;
    }

    &__smaller {
      width: 35px;
      height: 35px;

      img {
        width: 29px;
        height: 29px;
      }
    }

    &__main {
      max-width: 287px;
      max-height: 287px;
      img {
      }
    }

    &__empty {
    }
  }
}

@media (max-width: 639px) {
  .product-image-slider {
    flex-direction: column;
    align-items: center;

    &__small {
      flex-direction: row;
      gap: 8px;
      order: 2;
    }

    &__smaller {
      width: 51px;
      height: 51px;

      img {
        width: 42px;
        height: 42px;
        object-fit: contain;
        border-radius: 4px;
      }
    }
  }
}
