@use '../../styles/variables/colors/colors' as colors;

.url-way {
  display: flex;
  gap: 8px;
  margin-left: 32px;

  &__icon-home {
    background-image: url('../../images/icons/home.svg');
    width: 16px;
    height: 16px;
  }

  &__icon-arrow {
    background-image: url('../../images/icons/chevron_arrow_right.svg');
    width: 16px;
    height: 16px;
  }
}

.title-grey {
  color: colors.$color-secondary;
}
