@use '../../styles/variables/colors/colors' as color;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.header {
  height: 64px;
  box-shadow: 0 1px 0 0 color.$color-elements;
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  overflow-x: hidden;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
  }

  &__desktop {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: transparent;
    pointer-events: none;
    transition: background-color 0.3s ease;
    z-index: 101;
  }
}

// MEDIA QUERIES

@media (max-width: 1199px) {
  .header {
    height: 48px;
  }
}

@media (max-width: 639px) {
  .header__desktop {
    display: none;
  }

  .header {
    height: 48px;
  }
}
