@use '../../styles/variables/colors/colors' as color;

// FOOTER
.footer {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  padding: 0 152px;
  box-shadow: 0 -1px 0 0 color.$color-elements;
  background-color: transparent;

  &__logo {
    display: flex;
    align-items: center;

    img {
      width: 80px;
      height: 28px;
      object-fit: contain;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex-grow: 1;
    max-width: 480px;
  }

  &__link {
    font-family: 'Mont', sans-serif;
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-decoration: none;
    color: color.$color-secondary;

    &:hover {
      color: color.$color-primary;
    }
  }

  &__to-top {
    display: flex;
    align-items: center;
    gap: 12px;
    text-align: right;
  }

  &__text {
    font-family: 'Mont', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: capitalize;
    color: color.$color-secondary;
  }

  &__button {
    font-family: 'Mont', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    color: color.$color-primary;
    text-align: right;

    &:hover {
      color: color.$color-primary;
      text-decoration: underline;
    }
  }
}
