@use '../../styles/variables/colors/colors' as colors;

.techspecs {
  padding-top: 25px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  &__name {
    color: colors.$color-secondary;
    text-align: left;
  }

  &__value {
    color: colors.$color-primary;
    text-align: right;
    white-space: nowrap;
  }
}
