@use './styles/variables/colors/colors' as colors;

html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  font-family: 'Mont', sans-serif;

  &--light {
    h1,
    h2,
    h3 {
      color: colors.$color-primary;
    }

    p {
      color: colors.$color-primary;
    }

    span {
      color: colors.$color-secondary;
    }
    background-color: colors.$color-bg-app-light-mode;
  }

  &--dark {
    h1,
    h2,
    h3 {
      color: colors.$color-primary-dark-mode;
    }

    p {
      color: colors.$color-primary-dark-mode;
    }

    span {
      color: colors.$color-secondary-dark-mode;
    }
    background-color: colors.$color-bg-app-dark-mode;
  }
}

.section {
  flex: 1 0 auto;
}
