@use './styles/variables/colors/colors' as colors;

html {
  scroll-behavior: smooth;
}

main {
  margin-top: 64px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  font-family: 'Mont', sans-serif;

  &--light {
    background-color: colors.$color-bg-app-light-mode;

    h1,
    h2,
    h3,
    h4 {
      color: colors.$color-primary;
    }

    p {
      color: colors.$color-primary;
    }

    span {
      color: colors.$color-secondary;
    }

    footer {
      a {
        color: colors.$color-secondary;
        &:hover {
          color: colors.$color-primary;
        }
      }
    }
  }

  &--dark {
    background-color: colors.$color-bg-app-dark-mode;

    h1,
    h2,
    h3,
    h4 {
      color: colors.$color-primary-dark-mode;
    }

    p {
      color: colors.$color-primary-dark-mode;
    }

    span {
      color: colors.$color-secondary-dark-mode;
    }

    footer {
      a {
        color: #f1f2f9;
      }
    }
  }
}

.section {
  flex: 1 0 auto;
}
