$gap: 16px;

@mixin grid-container {
  display: grid;
  grid-template-columns: repeat(24, 32px);
  column-gap: $gap;
  padding-left: 32px;
  padding-right: 32px;

  @media (max-width: 1199px) {
    grid-template-columns: repeat(12, 34px);
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (max-width: 639px) {
    grid-template-columns: repeat(4, 60px);
    padding-left: 16px;
    padding-right: 16px;
  }
}
